{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}    
<h1> Hello Ayush, Here are all Records...</h1>

{% if records %}
    {% for record in records %}
        {{ record.id }} 
        {{ record.first_name }} 
        {{ record.last_name }} 
        {{ record.v_dash }} 
        {{ record.city }} 
    </br>
    {% endfor %}


{% endif%}



{% else %}
<h1> Login</h1>
<br/>

<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control", name="username", placeholder="username" required>
        </div><br/>
        <div class="mb-3">
          <input type="password" class="form-control", name="password", placeholder="password" required>
        </div> <br/>
    
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</form>

    
</div>

{% endif %}

{% endblock %}