{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}    
<h1> Hello Ayush, Here are all Records...</h1>

<table class="table table-dark table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">V Dash</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
      
    {% if records %}
        {% for record in records %}
        <tr> 
        <td>    {{ record.id }} </td>
        <td>    {{ record.first_name }} </td>
        <td>    {{ record.last_name }} </td>
        <td>    {{ record.v_dash }} </td>
        <td>    {{ record.city }} </td>
        </tr>
    {% endfor %}
      
    </tbody>
  </table>




{% endif%}



{% else %}
<h1> Login</h1>
<br/>

<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control", name="username", placeholder="username" required>
        </div><br/>
        <div class="mb-3">
          <input type="password" class="form-control", name="password", placeholder="password" required>
        </div> <br/>
    
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</form>

    
</div>

{% endif %}

{% endblock %}